.body-home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 375px) {
  .body-home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
