.body-home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 40px 40px 40px;
}

.loading {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 375px) {
  .body-home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
