.body-home {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.body-content {
  display: flex;
  flex: 1;
  padding: 0px 40px 40px 40px;
  justify-content: center;
  align-items: flex-start;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.content-detail {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  align-items: baseline;
}

.content-information {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.flag-detail {
  width: 100%;
  min-width: 250px;
}

.body-content-information {
  display: flex;
  flex: 1;
  padding: 0px 40px 40px 40px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  flex-wrap: wrap;
}

.label-country-detail {
  font-size: 14px;
  font-family: NunitoSans;
  font-weight: 300;
  margin-bottom: 10px;
}

.value-country-detail {
  font-size: 14px;
  font-family: NunitoSans;
  font-weight: 300;
}

.content-detail {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
}

.content-detail-information {
  display: flex;
  flex: 1 1;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.contry-title-detail {
  font-size: 16px;
  font-weight: 800;
  font-family: NunitoSans;
  padding: 0;
  margin: 0 0 10px 0;
}

.column1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 20px;
}
.column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media only screen and (max-width: 375px) {
  .body-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .body-home {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 20px;
  }
  .content-detail-information {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    flex-direction: column;
    width: 280px;
  }
  .flag-detail {
    width: 100%;
    min-width: 280px;
  }
  .body-content-information {
    display: flex;
    flex: 1;
    padding: 0px 20px 20px 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  .body-content {
    display: flex;
    flex: 1;
    padding: 0px 0px 20px 0px;
    justify-content: center;
    align-items: flex-start;
  }
}
